body > header {
    background-color: aqua;
}

body > main {
    background-color: aliceblue;
    width: 45em;
    margin: auto;
}

body > footer {
    background-color: aqua;
    width: 45em;
    margin: auto;
}

body:has(aside) > main, body:has(aside) > aside {
    display: flex;
    flex-direction: row;
}